[submodule "components/maas"]
	path = components/maas
	url = ../maas
[submodule "components/cord-tester"]
	path = components/cord-tester
	url = ../cord-tester
[submodule "components/cord-onos-publisher"]
	path = components/cord-onos-publisher
	url = ../cord-onos-publisher
[submodule "components/platform-install"]
	path = components/platform-install
	url = ../platform-install
