auto fabric
iface fabric inet static
    address 10.6.1.1
    network 10.6.1.0
    netmask 255.255.255.0
    broadcast 10.6.1.255
    gateway 10.6.1.1
    bridge_ports eth3
    hwaddress ether a4:23:05:06:01:01

# vSG public gateway
# should be configurable
auto fabric:0
iface fabric:0 inet static
    address 10.7.1.1
    netmask 255.255.255.0

# public network gateway
# should be configurable
auto fabric:1
iface fabric:1 inet static
    address 10.8.1.1
    netmask 255.255.255.0
